<html>
	<head>
		<title>{{title}}</title>
		<link rel="stylesheet" type="text/css"  href="{{ url_for('static',filename='assets/style.css')}}" >
	</head>
<body>
	<h1>{{heading}}</h1>
	<hr>
	{% if taches[0] %}
	<h3>Résultat de la recherche</h3>
	<table>
	    <tr id="row">
	    	<td class="status">Status</td>
	    	<td class="name">Nom de la tâche</td>
	    	<td class="desc">Description de la tâche</td>
	    	<td class="date">Date</td>
	    	<td class="pr">Projet</td>
		<td class="func">Supprimer</td>
		<td class="func">Modifier</td>
	    </tr>
		{% for todo in taches %}
		<tr class="datas">
			<td><a href="./done?_id={{ todo['_id'] }}"><input type="image" src="static/images/{{todo['done']}}.png" alt="Soumettre"></a></td>
			<td class="name">{{ todo["name"] }}</td>
			<td class="desc">{{ todo["desc"] }}</td>
			<td class="date">{{ todo["date"] }}</td>
			<td class="pr">{{ todo["pr"] }}</td>
			<td class="func1"><a href="./remove?_id={{ todo['_id'] }}"><button type="submit">Supprimer</button></a></td>
			<td class="func1"><a href="./update?_id={{ todo['_id'] }}"><button type="submit">Modifier</button></a></td>
		</tr>
		{% endfor %}
	{% else %}
		<h4>Pas de résultat :(</h4>
	{% endif %}
	</table>
	<a href="/">Retourner à la liste</a>
</body>
</html>
